<div class="menu_content">

  <div class="contact">
    <img class="contact_option" src="./assets/icons/icon_email.svg" alt="icon_email">
    <h4><a href="mailto:yurkevich.dev@gmail.com">yurkevich.dev@gmail.com</a></h4>
  </div>

  <div class="contact">
    <img class="contact_option" src="./assets/icons/icon_phone.svg" alt="icon_phone">
    <h4><a href="tel:+375257511804">+375 (25) 751-18-04</a></h4>
  </div>

  <div class="contact">
    <img class="contact_option" src="./assets/icons/icon_linkedIn.svg" alt="icon_linkedIn">
    <h4><a href="https://www.linkedin.com/in/marina-yurkevich-837598220/?locale=en_US" target="_blank">LinkedIn</a></h4>
  </div>

  <div class="contact">
    <img class="contact_option" src="./assets/icons/icon_github.svg" alt="icon_github">
    <h4><a href="https://github.com/Marinayurkevich" target="_blank">GitHub</a></h4>
  </div>

  <div class="contact">
    <img class="contact_option" src="./assets/icons/icon_location.svg" alt="icon_location">
    <h4><a
        href="https://www.google.com/maps/place/%D0%9C%D0%B8%D0%BD%D1%81%D0%BA/@46.0440342,24.9665588,4.5z/data=!4m15!1m8!3m7!1s0x46dbcfd35b1e6ad3:0xb61b853ddb570d9!2z0JzQuNC90YHQug!3b1!8m2!3d53.9006011!4d27.558972!16zL20vMGRseGo!3m5!1s0x46dbcfd35b1e6ad3:0xb61b853ddb570d9!8m2!3d53.9006011!4d27.558972!16zL20vMGRseGo?entry=ttu"
        target="_blank">Minsk, Belarus.</a>
      </h4>
  </div>

  <h4>Open to relocation on a global level</h4>

</div>
