<div class="menu_content">
  <div class="cover">
    <div class="side_left">
      <p>Hello, I'm Marina Yurkevich, Junior Frontend Developer.
        I'm looking for an entry-level position with a team to use my skills in coding. I’m result oriented person, with
        a
        huge desire and interest to learn new tools and techniques.
        I'm always looking for new opportunities to improve my skills and grow as a developer.
        Ready to join a great team!</p>
      <button (click)="downloadPdf()">Download Resume</button>
      <p>"Anything is possible, the impossible just takes more time"</p>
    </div>
    <div class="img_photo"><img src="./assets/images/photo.jpg" alt="photo"></div>
  </div>
</div>
