@media screen and (max-width: 1300px) {
  nav {
    background-color: var(--color--dark-blue);
    border: 3px solid var(--color--light-purple);
    width: 300px;
    position: absolute;
    top: 50px;
    right: 250px;
    display: flex;
    z-index: 2;
    padding: 20px 20px 0px 0;
  }

  .nav_ul {
    flex-direction: column;
  }

  a {
    color: aliceblue;
  }
}


@media screen and (max-width: 800px) {
  nav {
    top: 70px;
    right: 50px;
  }
}


@media screen and (max-width: 450px) {
  nav {
    top: 70px;
    right: 20px;
  }
}
