<div class="menu_content">
  <h2>Education</h2>
  <div>
    <ul>
      <li class="edu_item">Rolling Scopes School, course “JavaScript/Front-end Turkey 2022”, 2022-2023</li>
      <li class="edu_item">Rolling Scopes School, course “Become a gopher with Golang United”, 2022</li>
      <li class="edu_item">Stepik, course “Go (Golang)” by IgorLutiy, 2022</li>
      <li class="edu_item">Sololearn, courses “HTML”, “PHP”, “CSS”, 2021</li>
      <li class="edu_item">MSPU named after I.P.Shamyakin, Bachalor degree, "Pedagogy. Computer Science, English", 2012</li>
    </ul>
  </div>
</div>
