<div class="menu_content menu_cards">
  <div class="cards_row">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">CurrentWeather widget</div>
      <img class="card-img-top" src="./assets/images/projects/widget_weather.png" alt="weather_widget">
      <div class="card-body text-primary">
        <h5 class="card-title text-secondary">Used technologies:</h5>
        <p class="card-text">JavaScript, API Requests, HTML5, CSS3</p>
        <a href="https://github.com/Marinayurkevich/widget_currentWeather" target="_blank" class="btn btn-primary">Show
          more</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Widget displays current time (date, time, day of
          week) and current weather by default in the city where the widget user is located. User can change the city
          and
          widget will display weather data in that city. Form with input search appears, when user choose "location
          mark".</small>
      </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">TODO List</div>
      <img class="card-img-top" src="./assets/images/projects/todo_list.png" alt="todo_list">
      <div class="card-body text-primary">
        <h5 class="card-title text-secondary">Used technologies:</h5>
        <p class="card-text">Angular, TypeScript, JSON Server</p>
        <a href="https://github.com/Marinayurkevich/task_tracker" target="_blank" class="btn btn-primary">Show
          more</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">You can create a new task, set a deadline for this task, delete task, and reorder
          tasks using drag and drop.</small>
      </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">CurrencyRate Bot</div>
      <img class="card-img-top" src="./assets/images/projects/currency_rate_bot.png" alt="currency_rate_bot">
      <div class="card-body text-primary">
        <h5 class="card-title text-secondary">Used technologies:</h5>
        <p class="card-text">Golang, API HTTP Requests</p>
        <a href="https://github.com/Marinayurkevich/Currency_Rate_Bot" target="_blank" class="btn btn-primary">Show
          more</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Currency_Rate_Bot is a Telegram Bot that provides you with the latest data on popular
          exchange rates. You send a message
          with an alphabetic code of foreign unit of currency to the Currency_Rate_Bot and it returns the official
          exchange rate
          of the Belarusian ruble against foreign currencies set by the National Bank of the Republic of Belarus on a
          daily basis.</small>
      </div>
    </div>
  </div>
</div>
